/* ---------------------
        Header
--------------------- */
.main-header {
    position: fixed;
    z-index: 5;
    width: 100%;
    & > .container {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: {
            top: 7px;
            bottom: 3px;
        }
    }
    background-color: transparent;

    &::after {
        content: "";
        position: absolute;
        top: -20vh;
        transition: all 0.5s;
        left: 0;
        width: 100%;
        height: 100%;
        background: $white;

        z-index: -1;
    }

    &--active {
        &::after {
            height: 200%;
            animation-duration: 0.5s;
            animation-name: popup;
            top: 0;
        }
    }
    &--active-modal {
        &::after {
            top: 0;
            box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.132586);
            animation-duration: 0.2s;
            animation-name: popup;
        }
        z-index: 21;
        
    }
}

/* Навигация */
.main-header__nav {
    width: 100%;
    height: 100vh;
    background-color: $white;
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
}

/* Мобильная пользовательская навигация */
ul.main-header__m-user-nav {
    display: flex;
    justify-content: space-around;
    padding: {
        top: 19px;
        bottom: 16px;
    }
}
.mob-user-subnav__item {
    width: 33.33%;
    box-shadow: 1px 0px 0px 0px $grey;
    &:last-child {
        box-shadow: none;
    }

    a {
        display: grid;
        place-items: center;
        padding: {
            top: 7px;
            bottom: 6px;
        }
    }
}

.main-header__goods-list-wrap {
    position: relative;
    border: {
        top: 2px solid $pink;
        bottom: 2px solid $pink;
    }
}
.main-header__nav-item {
    box-shadow: 0px 1px 0px 0px $grey;
    &:last-child {
        box-shadow: none;
    }
    /* Стрелки */
    svg {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%) rotate(90deg);
        transition: $transition3;
        width: 8px;
        height: 8px;
        path {
            transition: $transition3;
        }
    }
    &--active {
        svg {
            transform: translateY(-50%) rotate(270deg);
            path {

                stroke: $pink;
            }
        }
    }
}
.main-header__nav-link {
    display: block;
    position: relative;
    padding: {
        left: 34px;
        top: 20px;
        bottom: 20px;
    }
    transition: $transition3;

    /* Иконки */
    &::after {
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);

        width: 25px;
        height: 26px;

        background-repeat: no-repeat;
        background-size: cover;
    }

    &--cosmetics {
        &::after {
            background-image: url(../img/header/icons/navIcons/nailpolish.svg);
        }
    }
    &--equip {
        &::after {
            background-image: url(../img/header/icons/navIcons/dryer.svg);
        }
    }
    &--decor {
        &::after {
            background-image: url(../img/header/icons/navIcons/ring.svg);
        }
    }
    &--blog {
        &::after {
            background-image: url(../img/header/icons/navIcons/blog.svg);
        }
    }
    &:hover {
        color: $pink;
        svg {
            path {
                stroke: $pink;
            }
        }
    }
    &--active {
        color: $pink;
    }
}

/* Выпадающее меню */
.inner-lists {
    display: none;
    max-height: 50vh;
    overflow-y: auto;
}

.main-header__user-nav {
    display: flex;
}
.main-header__menu-toggle {
    border: none;
    background-color: transparent;
    padding: 12px 10px;
    margin-right: -12px;

    & > img {
        width: 23px;
        height: 13px;
        &:last-child {
            display: none;
        }
    }

    &--active {
        & > img {
            &:first-child {
                display: none !important;
            }
            &:last-child {
                display: block !important;
            }
        }
    }
}
.main-header__user-item {
    display: none;
    &--cart {
        display: block;
    }
    a {
        display: block;
        &:hover {
            svg {
                fill: $pink;
                path {
                    transition: $transition3;
                    fill: inherit;
                }
            }
        }
    }
}
.ad {
    display: block;
    width: 100%;
    border-radius: 15px;
    padding: 19px 19px 16px 17px;
    background-image: url(../img/adbg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    h5 {
        font-size: 16px;
        line-height: 19px !important;
        margin-top: 0;
        margin-bottom: 9px;
    }
    p {
        font-size: 14px;
        line-height: 17px;
        max-width: 70%;
    }
}
.inner-lists__item-wrap {
    margin-bottom: 15px;
    h5 {
        margin: 0 0 16px 0;
        line-height: 24px;
    }
    &:last-child {
        margin-bottom: 0;
    }
}
/* ---------------------
    Header responsive
--------------------- */
@media (min-width: $tablet) {
    .main-header {
        background-color: rgba($white, 0.9);
        & > .container {
            max-width: 1190px;
            padding: {
                top: 11px;
                bottom: 9px;
            }
            z-index: 2;
            justify-content: space-between;
        }
    }
    .main-header__menu-toggle {
        display: none;
    }
    .main-header__nav-list,
    .main-header__goods-list-wrap {
        display: flex;
        max-width: max-content;
    }
    .main-header__goods-list-wrap {
        margin-right: 55px;
        .main-header__nav-item {
            &:last-child {
                margin-right: 0;
            }
        }
        .main-header__nav-link {
            padding-right: 13px;
            &::before {
                right: 0;
            }
        }
    }
    .main-header__nav-link {
        padding: {
            top: 10px;
            bottom: 10px;
        }
        font-weight: 500;
        &::after {
            width: 30px;
            height: 32px;
        }
    }
    .main-header__logo {
        img {
            width: 138px;
            height: 49px;
        }
    }
    .main-header__nav {
        height: auto;
        position: static;
        display: block;
        background-color: transparent;
        width: max-content;
        & > .container {
            padding: 0;
            width: max-content;
        }
    }
    .main-header__nav-item {
        position: relative;
        box-shadow: none;
        margin-right: 30px;

        &--active {
            &::after {
                z-index: 15;
                content: "";
                position: absolute;
                bottom: -20px;
                left: 50%;
                transform: translateX(-50%) rotate(45deg);
                width: 14px;
                height: 14px;
                border-top: 1px solid $pink;
                border-left: 1px solid $pink;
                background-color: $white;
            }
        }
    }
    ul.main-header__m-user-nav {
        display: none;
    }
    .main-header__goods-list-wrap {
        border: none;
    }
    .main-header__user-item {
        display: block;
        margin-right: 20px;
        &:last-child {
            margin-right: 0;
        }
    }

    .main-header__nav-link + .inner-lists {
        position: fixed;
        border-top: 1px solid $pink;
        border-bottom: 1px solid $pink;
        top: 69px;
        left: 0;
        width: 100%;
        max-height: auto;
        height: auto;

        z-index: 11;
        transition: none;
        display: none;
        background-color: $white;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        border-radius: 1px;
        & > .container {
            display: flex;
            max-width: 1190px;
            padding-top: 30px;
            padding-bottom: 30px;
        }
        &--active {
            display: block;
        }
    }
    .main-header__dropdown {
        position: fixed;
        top: -20vh;
        transition: top 0.2s;
        left: 0;
        width: 100%;
        height: 100px;
        background: $white;
        transition: none;
        z-index: -1;
        &--active {
            transition: top 0.2s;
            top: 0;
        }
    }
    .inner-lists__item-wrap {
        width: 20%;
        padding-left: 15px;
        border-left: 1px solid rgba($pink, 0.15);
        margin-bottom: 0;
        &:first-child {
            border-left: none;
        }
    }
    .inner-lists__item {
        margin-bottom: 20px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    .inner-lists__link {
        position: relative;
        padding-bottom: 5px;
        transition: $transition3;
        &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 1px;
            background-color: $pink-saturated;
        }
        &:hover {
            color: $pink;
        }
    }
    .ad {
        background-size: initial;
        p {
            max-width: 89%;
        }
    }
}
