header.main-header
    .container
        button.main-header__menu-toggle(aria-label="Открыть/закрыть меню")
            img(src="img/header/menuOpener.svg")
        .main-header__logo.logo
            img(src="img/header/logo.svg", alt="Boutique")
        nav.main-header__nav
            .container
                ul.main-header__m-user-nav.mob-user-subnav
                    li.mob-user-subnav__item
                        a(href="#")
                            img(src="../img/header/icons/favourite/heartColor.svg", alt="Избранное")
                    li.mob-user-subnav__item
                        a(href="#")
                            img(src="../img/header/icons/cart/cartColor.svg", alt="Корзина")
                    li.mob-user-subnav__item
                        a(href="#")
                            img(src="../img/header/icons/login/userColor.svg", alt="Профиль")
                ul.main-header__nav-list
                    div.main-header__goods-list-wrap
                        li.main-header__nav-item
                            +add_menu_item(4, 4, 'Косметика', 'cosmetics')
                                include blocks/_advertisement.pug
                        li.main-header__nav-item
                            +add_menu_item(4, 4, 'Оборудование', 'equip')
                        li.main-header__nav-item
                            +add_menu_item(4, 4, 'Украшения', 'decor')
                    li.main-header__nav-item
                        a(href="").main-header__nav-link.-blog Бьюти-бложик
        ul.main-header__user-nav
            li.main-header__user-item.-cart
                a(href="#")
                    img(src="../img/header/icons/cart/cart.svg", alt="Корзина")
            li.main-header__user-item
                a(href="#")
                    img(src="../img/header/icons/favourite/heart.svg", alt="Избранное")        
            li.main-header__user-item
                a(href="#")
                    img(src="../img/header/icons/login/user.svg", alt="Профиль")

