header.main-header
    .container
        button.main-header__menu-toggle(aria-label="Открыть/закрыть меню")
            img(src="img/header/menuOpener.svg" alt='Открыть')
            img(src="img/blackCross.svg" alt='Заркыть')
        a(href='index.html').main-header__logo.logo
            img(src="img/header/logo.svg", alt="Boutique")
        nav.main-header__nav
            .container
                ul.main-header__m-user-nav.mob-user-subnav
                    li.mob-user-subnav__item
                        a(href="#")
                            img(src="img/header/icons/favourite/heartColor.svg", alt="Избранное")
                    li.mob-user-subnav__item
                        a(href="#")
                            img(src="img/header/icons/cart/cartColor.svg", alt="Корзина")
                    li.mob-user-subnav__item
                        a(href="#")
                            img(src="img/header/icons/login/userColor.svg", alt="Профиль")
                ul.main-header__nav-list
                    div.main-header__goods-list-wrap
                        li.main-header__nav-item
                            +add_menu_item(4, 4, 'Косметика', 'cosmetics')
                        li.main-header__nav-item
                            +add_menu_item(4, 4, 'Оборудование', 'equip')
                        li.main-header__nav-item
                            +add_menu_item(4, 4, 'Украшения', 'decor')
                    li.main-header__nav-item
                        a(href="").main-header__nav-link.-blog Бьюти-бложик
        ul.main-header__user-nav
            li.main-header__user-item.-cart
                a(href="#" aria-label='Корзина')
                    include ../img/header/icons/cart/cart.svg
            li.main-header__user-item
                a(href="#" aria-label='Избранное')
                    include ../img/header/icons/favourite/heart.svg        
            li.main-header__user-item
                a(href="#" aria-label='Профиль')
                    include ../img/header/icons/login/user.svg
    .main-header__dropdown

