// *** Шрифты ***
$font_Museo: "Museo", sans-serif;
$font_MuseoSans: "MuseoSans", sans;

// *** Цвет ***
$pink: #F08B98;
$pink-saturated: #FA7385;
$red: #FF304C;
$green: #2CA155;
$black: #000000;
$white: #ffffff;
$grey: #EAEAEA;

// *** Брейкпоинты ***
$tablet: 599px;

// *** Стилизация ***
$radius: 100px;
$transition3: all 0.25s ease-out; 

